$dashboard-font: "Poppins", sans-serif;
$home-primary-font: "Roboto Slab", serif;
$primary-color: #ff7c02;
$secondary-color: #ffb798;
$white: #ffffff;
$black: #000000;
$dashboard-background: $white;
$dashboard-text: $black;
$home-background: $white;
$home-text: $black;
$home-border: #dad7ca;
$card-border: rgba(0, 0, 0, 0.1);
$sidebar-border: rgb(229, 229, 229);
$dashboard-grey: #eceef2;
$dashboard-text-grey: #717182;
$dashboard-muted: #ececf0;
$dashboard-red: #d4183d;
$dashboard-blue: #3b82f6;
$dashboard-green: #22c55e;
$dashboard-orange: #f59e0b;
$dashboard-violet: #8b5cf6;
$sidebar-width: 200px;
$navbar-height: 100px;
$sidebar-shortcut: "Ctrl + /";
$dashboard-padding: 1rem;
$fs-1: 32px;
$fs-2: 24px;
$fs-3: 20px;
$fs-4: 18px;
$fs-5: 16px;
$fs-6: 14px;
$fs-7: 12px;
$fs-8: 12px;
$home-padding-x: 3em;
$home-padding-y: 2em;

@mixin transitionAll($duration: 0.3s) {
   transition: all $duration ease-in-out;
   -webkit-transition: all $duration ease-in-out;
   -moz-transition: all $duration ease-in-out;
   -ms-transition: all $duration ease-in-out;
   -o-transition: all $duration ease-in-out;
}

@mixin borderRadius($radius: 10px) {
   border-radius: $radius;
   -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
   -ms-border-radius: $radius;
   -o-border-radius: $radius;
}

@mixin closeSidebar($x: 0) {
   transform: translateX($x);
   -webkit-transform: translateX($x);
   -moz-transform: translateX($x);
   -ms-transform: translateX($x);
   -o-transform: translateX($x);
   transition: transform 0.3s ease;
   -webkit-transition: transform 0.3s ease;
   -moz-transition: transform 0.3s ease;
   -ms-transition: transform 0.3s ease;
   -o-transition: transform 0.3s ease;
}

@mixin openSidebar($x: 0) {
   transform: translateX($x);
   -webkit-transform: translateX($x);
   -moz-transform: translateX($x);
   -ms-transform: translateX($x);
   -o-transform: translateX($x);
   transition: transform 0.3s ease;
   -webkit-transition: transform 0.3s ease;
   -moz-transition: transform 0.3s ease;
   -ms-transition: transform 0.3s ease;
   -o-transition: transform 0.3s ease;
}

@mixin md() {
   @media screen and (min-width: 768px) {
      @content;
   }
}

@mixin lg() {
   @media screen and (min-width: 1024px) {
      @content;
   }
}
