$dark-moss-green: #606c38ff;
$pakistan-green: #283618ff;
$cornsilk: #fefae0ff;
$earth-yellow: #dda15eff;
$tigers-eye: #bc6c25ff;
$primary-color: $pakistan-green;
$secondary-color: $dark-moss-green;
$tertiary-color: $cornsilk;
$quaternary-color: $earth-yellow;
$quinary-color: $tigers-eye;
$white: #ffffff;
$black: #000000;
$primary-font: "Poppins", sans-serif;
$secondary-font: "Outfit", sans-serif;
$tertiary-font: "Dosis", sans-serif;
