@use "./abstracts" as *;

.btn {
   border: none;
   outline: none;
   padding: 0.5em 0.6em;
   display: inline-block;
   @include borderRadius(7px);
   font-size: 14px;
   @include transitionAll();

   &-primary {
      background-color: $home-text;
      color: $home-background;

      &:hover {
         background-color: transparent;
         color: $primary-color;
         outline: 1px solid $primary-color;
      }
   }

   &-primary-outline {
      outline: 1px solid $home-text;
      color: $home-text;
      background-color: transparent;
      @include transitionAll();

      &:hover {
         background-color: transparent;
         color: $primary-color;
         outline: 1px solid $primary-color;
      }
   }

   &-danger-outline {
      border: 1px solid $dashboard-red;
      color: $dashboard-red;
      background-color: transparent;
      @include transitionAll();

      &:hover {
         background-color: $dashboard-red;
         color: $white;
      }
   }

   &-blue-outline {
      border: 1px solid $dashboard-blue;
      color: $dashboard-blue;
      background-color: transparent;
      @include transitionAll();

      &:hover {
         background-color: $dashboard-blue;
         color: $white;
      }
   }

   &-success-outline {
      border: 1px solid $dashboard-green;
      color: $dashboard-green;
      background-color: transparent;
      @include transitionAll();

      &:hover {
         background-color: $dashboard-green;
         color: $white;
      }
   }

   &-secondary-outline {
      border: 1px solid $black;
      color: $black;
      background-color: transparent;
      @include transitionAll();

      &:hover {
         background-color: $black;
         color: $white;
      }
   }
}

.card {
   border: 1px solid $card-border;
   padding: 1rem 2rem;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}

.text-muted {
   color: $dashboard-text-grey;
}

.bullet {
   padding: 0.2em 0.6em;
   @include borderRadius(10px);
   font-size: 13px;

   &[data-bullet="success"] {
      color: #026630;
      background-color: #dbfce7;
   }

   &[data-bullet="primary"] {
      color: #3b82f6;
      background-color: #eef2ff;
   }

   &[data-bullet="danger"] {
      color: #9f1239;
      background-color: #f8d7da;
   }

   &[data-bullet="violet"] {
      background-color: #f3e8ff;
      color: #6f3d97;
   }
   &[data-bullet="outline"] {
      border: 1px solid #f3e8ff;
   }
}

.progress {
   .progress-nums {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.3em;
   }

   .progress-bar {
      background-color: $dashboard-grey;
      @include borderRadius(20px);

      .bar {
         height: 100%;
         max-width: 100%;
         @include borderRadius(20px);
      }
   }
}
