@use "./abstracts" as *;

.admin {
   background-color: $dashboard-background;
   color: $dashboard-text;

   &__header {
      border-bottom: 1px solid $sidebar-border;
      padding: 1rem $dashboard-padding;

      button {
         border: none;
         outline: none;
         background-color: transparent;
         font-size: 20px;
         padding: 0.4em;
         @include transitionAll();
         @include borderRadius();
         position: relative;

         &:hover {
            background-color: $dashboard-grey;

            &::after {
               opacity: 1;
            }
         }

         &:after {
            content: $sidebar-shortcut;
            position: absolute;
            top: 50%;
            right: -60px;
            transform: translateY(-50%);
            border: 1px solid $black;
            color: $black;
            padding: 4px 8px;
            @include borderRadius(5px);
            font-size: 12px;
            opacity: 0;
            pointer-events: none;
         }
      }
   }
   .main-content {
      display: flex;
   }

   &__sidebar {
      @include closeSidebar(-100%);
      border-right: 1px solid $sidebar-border;
      font-size: 14px;
      padding-top: 1em;
      width: 0;
      overflow: hidden;

      &.open {
         @include openSidebar(0%);
         min-width: $sidebar-width !important;
         overflow: auto !important;
      }

      // @include md() {
      //    @include openSidebar();
      //    min-width: $sidebar-width;
      //    overflow: auto;
      // }

      &--title {
         font-size: 16px;
         margin: 1rem 0.7em;
         padding: 0 $dashboard-padding;
         white-space: nowrap;
      }

      &--list {
         padding: $dashboard-padding;

         &:first-of-type {
            border-bottom: 2px solid $sidebar-border;
         }

         .item {
            padding: 0.6em 1em;
            margin-bottom: 0.5em;
            @include transitionAll();
            @include borderRadius(7px);

            &:hover {
               background-color: $dashboard-grey;
            }

            &.active {
               background-color: $dashboard-grey;
            }
         }

         .item a {
            display: flex;
            gap: 12px;
            align-items: center;

            &#logoutBtn {
               color: $dashboard-red;

               &:hover {
                  color: $dashboard-text;
               }
            }
         }
      }
   }

   &__main {
      padding: 2rem;
      width: 100%;

      &--title {
         font-size: 24px;
         margin-bottom: 0.1em;

         + p {
            margin-bottom: 2em;
            color: $dashboard-text-grey;
         }
      }

      .stats-cards {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         gap: 1rem;
         margin-bottom: 2em;

         @include md() {
            grid-template-columns: repeat(2, 1fr);
         }

         @include lg() {
            grid-template-columns: repeat(4, 1fr);
         }

         .card {
            min-height: 130px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1rem;

            .title {
               display: flex;
               justify-content: space-between;
               align-items: center;

               h3 {
                  font-size: 14px;
               }

               i {
                  font-size: 18px;
               }

               .fa-user-group {
                  color: $dashboard-blue;
               }

               .fa-bullseye {
                  color: $dashboard-orange;
               }

               .fa-credit-card {
                  color: $dashboard-green;
               }

               .fa-gift {
                  color: $dashboard-violet;
               }
            }

            .stat-number {
               font-size: 24px;
            }
         }
      }

      .data-section {
         &--title {
            margin: 1em 0 0.5em;
            font-size: 16px;
         }

         .search {
            position: relative;
            display: block;
            margin-top: 1em;
            color: $dashboard-text-grey;

            i {
               position: absolute;
               top: 50%;
               left: 10px;
               transform: translateY(-50%);
            }

            input {
               width: 100%;
               padding: 0.9em 1em 0.9em 2.5em;
               border: none;
               outline: none;
               background-color: #f3f3f5;
               @include borderRadius();

               &:focus {
                  outline: 1px solid $dashboard-text-grey;
               }
            }
         }

         .empty {
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2rem 0;
            gap: 1em;
            text-align: center;

            i {
               font-size: 40px;
               padding: 1.3em;
               background-color: $dashboard-muted;
               @include borderRadius(50%);
               width: 48px;
               height: 48px;
               display: flex;
               justify-content: center;
               align-items: center;
               color: $dashboard-text-grey;
            }

            p {
               width: 80%;
               color: $dashboard-text-grey;
            }
         }

         .data-container {
            flex-direction: column;
         }

         .pagination {
            button {
               padding: 0.5em;
               @include transitionAll(1s);

               &:disabled {
                  opacity: 0.5;
                  cursor: not-allowed;
               }
            }

            margin-top: 1em;
            display: flex;
            justify-content: flex-end;
            gap: 1em;
            align-items: center;
         }

         .table-container {
            overflow-x: auto;
            width: 100%;
         }

         table {
            width: 100%;
            margin-top: 1em;
            border-collapse: collapse;
            min-width: 400px;

            th:not(:last-child) {
               text-align: left;
            }

            th:last-child {
               text-align: right;
            }

            th,
            td {
               padding: 0.7em;
            }

            tr:not(:last-child) th,
            tr:not(:last-child) td {
               border-bottom: 1px solid $sidebar-border;
            }

            td:not(#email) {
               text-transform: capitalize;
            }

            td:last-of-type {
               display: flex;
               justify-content: flex-end;
               gap: 0.5em;
            }

            tbody tr {
               &:hover {
                  background-color: color-mix(
                     in oklab,
                     $dashboard-muted 50%,
                     transparent
                  );
               }
            }

            .btn {
               height: 35px;
               display: flex;
               justify-content: center;
               align-items: center;
               gap: 0.5em;
            }
         }
      }
   }
}

.admin__home {
   #emptyData,
   #dataInfo {
      flex-direction: column;
      gap: 1em;

      @include lg() {
         flex-direction: row;
      }

      .data-section--title {
         font-size: 18px;
         margin-bottom: 1em;
      }
   }

   .empty {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      gap: 1em;
      padding: 2rem 0;
   }

   .card:has(#chart) {
      flex: 2;
   }

   #chart {
      width: 100%;
      min-width: 400px;
   }

   .stat {
      display: flex;
      gap: 2em;
      align-items: center;
      font-size: 14px;
      margin-bottom: 2em;

      i {
         font-size: 20px;
      }

      .fa-arrow-trend-up {
         color: $dashboard-violet;
      }

      .fa-users {
         color: $dashboard-blue;
      }

      .fa-check-double {
         color: $dashboard-green;
      }

      &--title {
         font-weight: normal;
         margin-bottom: 0.3em;
      }
   }
}

.admin__users {
   .stats-cards {
      @include lg() {
         grid-template-columns: repeat(3, 1fr);
      }

      .card {
         .fa-user-slash {
            color: $dashboard-red;
         }

         .fa-user-tie {
            color: $dashboard-violet;
         }
      }
   }
}

.admin__campaigns {
   .stats-cards {
      .card {
         .fa-circle-check {
            color: $dashboard-green;
         }

         .fa-arrow-trend-up {
            color: $dashboard-violet;
         }
      }
   }
   table {
      .progress {
         font-size: 14px;

         .progress-bar {
            width: 100px;
            height: 7px;
         }

         .bar {
            background-color: $dashboard-text;
         }
      }

      .switch {
         position: relative;
         display: inline-block;
         width: 46px;
         height: 22px;

         input {
            opacity: 0;
            width: 0;
            height: 0;
         }

         .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            @include transitionAll();
            border-radius: 26px;

            &:before {
               position: absolute;
               content: "";
               height: 16px;
               width: 16px;
               left: 4px;
               bottom: 3px;
               background-color: white;
               transition: 0.3s;
               border-radius: 50%;
            }
         }

         input:checked + .slider {
            background-color: $black;

            &:before {
               transform: translateX(23px);
               -webkit-transform: translateX(23px);
               -moz-transform: translateX(23px);
               -ms-transform: translateX(23px);
               -o-transform: translateX(23px);
            }
         }
      }
   }
}

.admin__pledges {
   .stats-cards {
      @include lg() {
         grid-template-columns: repeat(3, 1fr);
      }

      .card {
         .fa-dollar-sign {
            color: $dashboard-orange;
         }

         .fa-chart-simple {
            color: $dashboard-violet;
         }
      }
   }
}

.home {
   .header {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 100;
      display: flex;
      justify-content: space-between;
      background-color: $home-background;
      font-size: 16px;
      height: $navbar-height;
      align-items: center;
      padding: 0 2rem;

      &__logo {
         display: flex;
         align-items: center;
         font-weight: bold;
         gap: 0.5em;
         font-size: 24px;

         img {
            width: 40px;
            height: 40px;
         }
      }

      .nav {
         &--list {
            display: flex;
            position: absolute;
            right: 0;
            top: $navbar-height;
            flex-direction: column;
            align-items: flex-end;
            padding: 1em 2em;
            height: 100vh;
            gap: 2em;
            background-color: $home-background;
            text-transform: capitalize;
            @include closeSidebar(100%);

            &.open {
               @include openSidebar(0%);
            }

            @include md() {
               position: unset;
               flex-direction: row;
               gap: 1em;
               align-items: center;
               border: 1px solid #dad7ca;
               padding: 0.6em 1.2em;
               height: auto;
               @include borderRadius(20px);
               @include openSidebar();

               &__link {
                  @include transitionAll();

                  &:hover {
                     color: $primary-color;
                  }
               }
            }

            div {
               display: flex;
               flex-direction: column;
               gap: 2em;
               align-items: flex-end;

               @include md() {
                  flex-direction: row;
                  gap: 1em;
                  align-items: center;
               }
            }
         }

         .btn-primary {
            @include borderRadius(20px);
            padding: 0.6em 1em;
            @include md() {
               margin-left: 1em;
            }
         }

         #menuBtn {
            display: flex;
            border: 1px solid $home-border;
            padding: 1em;
            @include borderRadius(50%);
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;
            font-size: 20px;

            @include md() {
               display: none;
            }
         }
      }
   }

   .hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;
      margin: 4em 0;
      text-align: center;

      &__content {
         display: flex;
         flex-direction: column;
         align-items: center;
         @include lg() {
            width: 70%;
         }
         h1 {
            font-size: 44px;
            margin-bottom: 0.5em;
         }

         p {
            width: 60%;
         }
      }

      &__image {
         padding: 1em 2em;
         img {
            width: 100%;
            border: 1px solid $home-border;
            @include borderRadius(20px);
         }
      }
   }

   .stats {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2em;
      margin: 5em 0;
      text-align: center;

      @include md() {
         grid-template-columns: repeat(4, 1fr);
      }

      .stat {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 0.5em;

         i {
            font-size: 25px;
            border: 2px solid $home-text;
            padding: 1.1em;
            @include borderRadius(50%);
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
         }

         &--number {
            font-size: 32px;
            font-weight: bold;
            color: $primary-color;
         }
      }
   }

   .featured {
      margin: 5em 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
         font-size: 32px;
         margin-bottom: 0.5em;
      }

      .cards {
         padding: 4em 2em;
         width: 100%;
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
         gap: 2em;

         .card {
            border: 1px solid $home-border;
            @include borderRadius(20px);
            padding: 0;

            img {
               width: 100%;
               height: 200px;
               border-top-left-radius: 20px;
               border-top-right-radius: 20px;
            }

            &__content {
               padding: 0.5em 1em;
               display: flex;
               flex-direction: column;
               gap: 0.5em;
            }

            .progress {
               .progress-bar {
                  width: 100%;
                  height: 7px;
                  margin: 1em 0;
               }

               .bar {
                  background-color: $primary-color;
               }
            }
         }
      }

      .btn-primary {
         @include borderRadius(15px);
         padding: 0.7em 1.5em;
      }
   }

   .call-to-action {
      margin: 5em 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;

      &--title {
         font-size: 32px;
      }

      .btns {
         margin-top: 2em;
         display: flex;
         gap: 1em;

         .btn {
            font-size: 18px;
            padding: 0.5em 1.5em;
            @include borderRadius(18px);

            i {
               margin-right: 0.5em;
            }
         }
      }
   }

   .footer {
      margin-top: 5em;
      padding: 2em;
      display: flex;
      flex-direction: column;
      gap: 1em;

      &__links {
         display: flex;
         justify-content: space-between;
         border-bottom: 1px solid $home-border;
         width: 100%;
         padding: 1em 0;

         &--nav,
         &--social {
            display: flex;
            gap: 1em;
            font-size: large;

            a {
               @include transitionAll();

               &:hover {
                  color: $primary-color;
               }
            }
            i {
               font-size: 20px;
            }
         }
      }

      &__copyright {
         margin-top: 1em;
         font-size: 14px;
         width: 100%;
      }
   }
}
