@use "./abstracts" as *;

.admin {
   font-family: $dashboard-font;
   background-color: $dashboard-background;
   color: $dashboard-text;
}

.home {
   font-family: $home-primary-font;
   background-color: $home-background;
   color: $home-text;
   font-size: $fs-6;

   ::-moz-selection {
      background-color: $secondary-color;
      color: $home-text;
   }

   ::selection {
      background-color: $secondary-color;
      color: $home-text;
   }

   main {
      min-height: 50vh;
   }
}
