@import "/node_modules/@fortawesome/fontawesome-free/css/all.min.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Roboto Slab";
  src: url(/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Source Serif";
  src: url(/fonts/Source_Serif_4/SourceSerif4-VariableFont_opsz\,wght.ttf);
}
.admin {
  background-color: #ffffff;
  color: #000000;
}
.admin__header {
  border-bottom: 1px solid rgb(229, 229, 229);
  padding: 1rem 1rem;
}
.admin__header button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  padding: 0.4em;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
}
.admin__header button:hover {
  background-color: #eceef2;
}
.admin__header button:hover::after {
  opacity: 1;
}
.admin__header button:after {
  content: "Ctrl + /";
  position: absolute;
  top: 50%;
  right: -60px;
  transform: translateY(-50%);
  border: 1px solid #000000;
  color: #000000;
  padding: 4px 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
}
.admin .main-content {
  display: flex;
}
.admin__sidebar {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  border-right: 1px solid rgb(229, 229, 229);
  font-size: 14px;
  padding-top: 1em;
  width: 0;
  overflow: hidden;
}
.admin__sidebar.open {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  min-width: 200px !important;
  overflow: auto !important;
}
.admin__sidebar--title {
  font-size: 16px;
  margin: 1rem 0.7em;
  padding: 0 1rem;
  white-space: nowrap;
}
.admin__sidebar--list {
  padding: 1rem;
}
.admin__sidebar--list:first-of-type {
  border-bottom: 2px solid rgb(229, 229, 229);
}
.admin__sidebar--list .item {
  padding: 0.6em 1em;
  margin-bottom: 0.5em;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.admin__sidebar--list .item:hover {
  background-color: #eceef2;
}
.admin__sidebar--list .item.active {
  background-color: #eceef2;
}
.admin__sidebar--list .item a {
  display: flex;
  gap: 12px;
  align-items: center;
}
.admin__sidebar--list .item a#logoutBtn {
  color: #d4183d;
}
.admin__sidebar--list .item a#logoutBtn:hover {
  color: #000000;
}
.admin__main {
  padding: 2rem;
  width: 100%;
}
.admin__main--title {
  font-size: 24px;
  margin-bottom: 0.1em;
}
.admin__main--title + p {
  margin-bottom: 2em;
  color: #717182;
}
.admin__main .stats-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-bottom: 2em;
}
@media screen and (min-width: 768px) {
  .admin__main .stats-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .admin__main .stats-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
.admin__main .stats-cards .card {
  min-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
.admin__main .stats-cards .card .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.admin__main .stats-cards .card .title h3 {
  font-size: 14px;
}
.admin__main .stats-cards .card .title i {
  font-size: 18px;
}
.admin__main .stats-cards .card .title .fa-user-group {
  color: #3b82f6;
}
.admin__main .stats-cards .card .title .fa-bullseye {
  color: #f59e0b;
}
.admin__main .stats-cards .card .title .fa-credit-card {
  color: #22c55e;
}
.admin__main .stats-cards .card .title .fa-gift {
  color: #8b5cf6;
}
.admin__main .stats-cards .card .stat-number {
  font-size: 24px;
}
.admin__main .data-section--title {
  margin: 1em 0 0.5em;
  font-size: 16px;
}
.admin__main .data-section .search {
  position: relative;
  display: block;
  margin-top: 1em;
  color: #717182;
}
.admin__main .data-section .search i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.admin__main .data-section .search input {
  width: 100%;
  padding: 0.9em 1em 0.9em 2.5em;
  border: none;
  outline: none;
  background-color: #f3f3f5;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.admin__main .data-section .search input:focus {
  outline: 1px solid #717182;
}
.admin__main .data-section .empty {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  gap: 1em;
  text-align: center;
}
.admin__main .data-section .empty i {
  font-size: 40px;
  padding: 1.3em;
  background-color: #ececf0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #717182;
}
.admin__main .data-section .empty p {
  width: 80%;
  color: #717182;
}
.admin__main .data-section .data-container {
  flex-direction: column;
}
.admin__main .data-section .pagination {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  align-items: center;
}
.admin__main .data-section .pagination button {
  padding: 0.5em;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.admin__main .data-section .pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.admin__main .data-section .table-container {
  overflow-x: auto;
  width: 100%;
}
.admin__main .data-section table {
  width: 100%;
  margin-top: 1em;
  border-collapse: collapse;
  min-width: 400px;
}
.admin__main .data-section table th:not(:last-child) {
  text-align: left;
}
.admin__main .data-section table th:last-child {
  text-align: right;
}
.admin__main .data-section table th,
.admin__main .data-section table td {
  padding: 0.7em;
}
.admin__main .data-section table tr:not(:last-child) th,
.admin__main .data-section table tr:not(:last-child) td {
  border-bottom: 1px solid rgb(229, 229, 229);
}
.admin__main .data-section table td:not(#email) {
  text-transform: capitalize;
}
.admin__main .data-section table td:last-of-type {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}
.admin__main .data-section table tbody tr:hover {
  background-color: color-mix(in oklab, #ececf0 50%, transparent);
}
.admin__main .data-section table .btn {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.admin__home #emptyData,
.admin__home #dataInfo {
  flex-direction: column;
  gap: 1em;
}
@media screen and (min-width: 1024px) {
  .admin__home #emptyData,
  .admin__home #dataInfo {
    flex-direction: row;
  }
}
.admin__home #emptyData .data-section--title,
.admin__home #dataInfo .data-section--title {
  font-size: 18px;
  margin-bottom: 1em;
}
.admin__home .empty {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2rem 0;
}
.admin__home .card:has(#chart) {
  flex: 2;
}
.admin__home #chart {
  width: 100%;
  min-width: 400px;
}
.admin__home .stat {
  display: flex;
  gap: 2em;
  align-items: center;
  font-size: 14px;
  margin-bottom: 2em;
}
.admin__home .stat i {
  font-size: 20px;
}
.admin__home .stat .fa-arrow-trend-up {
  color: #8b5cf6;
}
.admin__home .stat .fa-users {
  color: #3b82f6;
}
.admin__home .stat .fa-check-double {
  color: #22c55e;
}
.admin__home .stat--title {
  font-weight: normal;
  margin-bottom: 0.3em;
}

@media screen and (min-width: 1024px) {
  .admin__users .stats-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
.admin__users .stats-cards .card .fa-user-slash {
  color: #d4183d;
}
.admin__users .stats-cards .card .fa-user-tie {
  color: #8b5cf6;
}

.admin__campaigns .stats-cards .card .fa-circle-check {
  color: #22c55e;
}
.admin__campaigns .stats-cards .card .fa-arrow-trend-up {
  color: #8b5cf6;
}
.admin__campaigns table .progress {
  font-size: 14px;
}
.admin__campaigns table .progress .progress-bar {
  width: 100px;
  height: 7px;
}
.admin__campaigns table .progress .bar {
  background-color: #000000;
}
.admin__campaigns table .switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 22px;
}
.admin__campaigns table .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.admin__campaigns table .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  border-radius: 26px;
}
.admin__campaigns table .switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}
.admin__campaigns table .switch input:checked + .slider {
  background-color: #000000;
}
.admin__campaigns table .switch input:checked + .slider:before {
  transform: translateX(23px);
  -webkit-transform: translateX(23px);
  -moz-transform: translateX(23px);
  -ms-transform: translateX(23px);
  -o-transform: translateX(23px);
}

@media screen and (min-width: 1024px) {
  .admin__pledges .stats-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
.admin__pledges .stats-cards .card .fa-dollar-sign {
  color: #f59e0b;
}
.admin__pledges .stats-cards .card .fa-chart-simple {
  color: #8b5cf6;
}

.home .header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  font-size: 16px;
  height: 100px;
  align-items: center;
  padding: 0 2rem;
}
.home .header__logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 0.5em;
  font-size: 24px;
}
.home .header__logo img {
  width: 40px;
  height: 40px;
}
.home .header .nav--list {
  display: flex;
  position: absolute;
  right: 0;
  top: 100px;
  flex-direction: column;
  align-items: flex-end;
  padding: 1em 2em;
  height: 100vh;
  gap: 2em;
  background-color: #ffffff;
  text-transform: capitalize;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
}
.home .header .nav--list.open {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
}
@media screen and (min-width: 768px) {
  .home .header .nav--list {
    position: unset;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    border: 1px solid #dad7ca;
    padding: 0.6em 1.2em;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
  }
  .home .header .nav--list__link {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .home .header .nav--list__link:hover {
    color: #ff7c02;
  }
}
.home .header .nav--list div {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .home .header .nav--list div {
    flex-direction: row;
    gap: 1em;
    align-items: center;
  }
}
.home .header .nav .btn-primary {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 0.6em 1em;
}
@media screen and (min-width: 768px) {
  .home .header .nav .btn-primary {
    margin-left: 1em;
  }
}
.home .header .nav #menuBtn {
  display: flex;
  border: 1px solid #dad7ca;
  padding: 1em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .home .header .nav #menuBtn {
    display: none;
  }
}
.home .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin: 4em 0;
  text-align: center;
}
.home .hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .home .hero__content {
    width: 70%;
  }
}
.home .hero__content h1 {
  font-size: 44px;
  margin-bottom: 0.5em;
}
.home .hero__content p {
  width: 60%;
}
.home .hero__image {
  padding: 1em 2em;
}
.home .hero__image img {
  width: 100%;
  border: 1px solid #dad7ca;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.home .stats {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2em;
  margin: 5em 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .home .stats {
    grid-template-columns: repeat(4, 1fr);
  }
}
.home .stats .stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}
.home .stats .stat i {
  font-size: 25px;
  border: 2px solid #000000;
  padding: 1.1em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.home .stats .stat--number {
  font-size: 32px;
  font-weight: bold;
  color: #ff7c02;
}
.home .featured {
  margin: 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .featured h2 {
  font-size: 32px;
  margin-bottom: 0.5em;
}
.home .featured .cards {
  padding: 4em 2em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
}
.home .featured .cards .card {
  border: 1px solid #dad7ca;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 0;
}
.home .featured .cards .card img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.home .featured .cards .card__content {
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.home .featured .cards .card .progress .progress-bar {
  width: 100%;
  height: 7px;
  margin: 1em 0;
}
.home .featured .cards .card .progress .bar {
  background-color: #ff7c02;
}
.home .featured .btn-primary {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 0.7em 1.5em;
}
.home .call-to-action {
  margin: 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.home .call-to-action--title {
  font-size: 32px;
}
.home .call-to-action .btns {
  margin-top: 2em;
  display: flex;
  gap: 1em;
}
.home .call-to-action .btns .btn {
  font-size: 18px;
  padding: 0.5em 1.5em;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.home .call-to-action .btns .btn i {
  margin-right: 0.5em;
}
.home .footer {
  margin-top: 5em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.home .footer__links {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dad7ca;
  width: 100%;
  padding: 1em 0;
}
.home .footer__links--nav, .home .footer__links--social {
  display: flex;
  gap: 1em;
  font-size: large;
}
.home .footer__links--nav a, .home .footer__links--social a {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.home .footer__links--nav a:hover, .home .footer__links--social a:hover {
  color: #ff7c02;
}
.home .footer__links--nav i, .home .footer__links--social i {
  font-size: 20px;
}
.home .footer__copyright {
  margin-top: 1em;
  font-size: 14px;
  width: 100%;
}

.btn {
  border: none;
  outline: none;
  padding: 0.5em 0.6em;
  display: inline-block;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.btn-primary {
  background-color: #000000;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: transparent;
  color: #ff7c02;
  outline: 1px solid #ff7c02;
}
.btn-primary-outline {
  outline: 1px solid #000000;
  color: #000000;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.btn-primary-outline:hover {
  background-color: transparent;
  color: #ff7c02;
  outline: 1px solid #ff7c02;
}
.btn-danger-outline {
  border: 1px solid #d4183d;
  color: #d4183d;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.btn-danger-outline:hover {
  background-color: #d4183d;
  color: #ffffff;
}
.btn-blue-outline {
  border: 1px solid #3b82f6;
  color: #3b82f6;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.btn-blue-outline:hover {
  background-color: #3b82f6;
  color: #ffffff;
}
.btn-success-outline {
  border: 1px solid #22c55e;
  color: #22c55e;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.btn-success-outline:hover {
  background-color: #22c55e;
  color: #ffffff;
}
.btn-secondary-outline {
  border: 1px solid #000000;
  color: #000000;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.btn-secondary-outline:hover {
  background-color: #000000;
  color: #ffffff;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.text-muted {
  color: #717182;
}

.bullet {
  padding: 0.2em 0.6em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 13px;
}
.bullet[data-bullet=success] {
  color: #026630;
  background-color: #dbfce7;
}
.bullet[data-bullet=primary] {
  color: #3b82f6;
  background-color: #eef2ff;
}
.bullet[data-bullet=danger] {
  color: #9f1239;
  background-color: #f8d7da;
}
.bullet[data-bullet=violet] {
  background-color: #f3e8ff;
  color: #6f3d97;
}
.bullet[data-bullet=outline] {
  border: 1px solid #f3e8ff;
}

.progress .progress-nums {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3em;
}
.progress .progress-bar {
  background-color: #eceef2;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.progress .progress-bar .bar {
  height: 100%;
  max-width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.admin {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #000000;
}

.home {
  font-family: "Roboto Slab", serif;
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
}
.home ::-moz-selection {
  background-color: #ffb798;
}
.home ::selection {
  background-color: #ffb798;
}

/*# sourceMappingURL=main.css.map */
